@page "/tender/step1"
<PageTitle>Tender Wizard</PageTitle>
<Tender4steps></Tender4steps>
<EditForm Model="tender_1">
    <div class="column">
        <div class="form-group col-md-12 row">
            <div class="col-md-6">
                <label class="form-label">
                    Please select the tender start date *
                </label>
                <input type="date" @bind="tender_1.TenderStartDate" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="form-label">
                    Please select the tender end date *
                </label>
                <input type="date" @bind="tender_1.TenderEndDate" class="form-control" />
            </div>
        </div>

        <div class="form-group col-md-12 row">
            <div class="col-md-6">
                <label class="form-label">
                    Please select the tender start time *
                </label>
                <input type="time" @bind="tender_1.TenderStartTime" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="form-label">
                    Please select the tender end time *
                </label>
                <input type="time" @bind="tender_1.TenderEndTime" class="form-control" />
            </div>
        </div>
    </div>
</EditForm>

@code{
    public CreateTenderStep1DTO tender_1 {get;set;} = new(); 
}