<div class="row text-center">
    <div class="col-4">Step 1. Tender period </div>
    <div class="col-4">Step 2. Construction machinery & equipment details</div>
    <div class="col-4">Step 3. Tender review</div>
    <br />
    <br />
</div>
@code {

}
