<div class="row text-center">
    <RadzenSteps SelectedIndex="@SelectedStepIndex" NextText="" NextTitle="" PreviousText="" PreviousTitle="">
        <Steps>
            <RadzenStepsItem Text="Step 1. Tender period " Disabled>
                <!-- ... (nội dung của step 1) -->
            </RadzenStepsItem>
            <RadzenStepsItem Text="Step 2. Construction machinery & equipment details" Disabled>
                <!-- ... (nội dung của step 2) -->
            </RadzenStepsItem>
            <RadzenStepsItem Text="Step 3. Tender review" Disabled>
                <!-- ... (nội dung của step 3) -->
            </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
    <br />
    <br />
</div>

@code {
    [Parameter] public int SelectedStepIndex { get; set; }
}