@page "/"

<PageTitle>Home</PageTitle>

<div class="card">
    <div class="card-header">
        <div><b>Chào mừng đến với DinoTrans</b></div>
        <div>Tìm dịch vụ vận chuyển phù hợp nhất cho bạn</div>
    </div>
    <div class="card-header">
        <div class="col-md-12 row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">1</div>
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">2</div>
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">3</div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">4</div>
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">5</div>
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">6</div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">7</div>
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">8</div>
                    <div class="col-md-4" style="border:1px solid lightgrey;background-color:white; color:#2fac66">9</div>
                </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

@code{

}